@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Only your specific page content goes here -->
<h1>Dr.PlantAI Ana Sayfasına Hoş Geldiniz</h1>
<p>Bitki hastalıkları hakkında bilgi almak için uygulamamızı kullanabilirsiniz.</p>

<!-- Additional content specific to the homepage -->